langchain==0.1.20
langchain-core==0.2.3
langchain-community==0.0.38
langchain-text-splitters==0.0.1
langchain-groq==0.1.6
langsmith
pydantic==1.10.15
streamlit
sentence-transformers
faiss-cpu
python-dotenv
